
.vs/desvio-de-rpg/FileContentIndex/926af023-3c94-442c-b127-67da7687e84d.vsidx
.vs/desvio-de-rpg/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/desvio-de-rpg/v17/DocumentLayout.json
.vs/desvio-de-rpg/FileContentIndex/ae65be49-27d5-4221-a6d3-50dfa1172fc8.vsidx
.vs/desvio-de-rpg/FileContentIndex/1e98866c-98f6-4610-b1de-14fa8dd4f8e5.vsidx
