.vs/Creatures/DesignTimeBuild/.dtbcache.v2
.vs/Creatures/FileContentIndex/c1aa9750-c415-4f22-9689-92eae4ca92d6.vsidx
.vs/Creatures/FileContentIndex/dd56a44d-cca9-4884-97e5-d84f4b7a8917.vsidx
obj/Debug/net8.0/Creatures.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Creatures.assets.cache
obj/Debug/net8.0/Creatures.AssemblyInfoInputs.cache
obj/project.nuget.cache
obj/project.assets.json
.vs/Creatures/FileContentIndex/68330286-f382-4caf-a2c7-6b6f5cd1fd06.vsidx
.vs/Creatures/v17/.suo
obj/Creatures.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/Creatures.AssemblyInfo.cs
obj/Debug/net8.0/Creatures.AssemblyInfoInputs.cache
obj/Debug/net8.0/Creatures.assets.cache
obj/Debug/net8.0/Creatures.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Creatures/v17/DocumentLayout.json
*.vsidx
/.vs/Creatures/FileContentIndex/4f20b850-7831-403e-8a4e-bfa431875d6d.vsidx
/.vs/Creatures/v17/.futdcache.v2
