.vs/Base/DesignTimeBuild/.dtbcache.v2
.vs/Base/FileContentIndex/c1aa9750-c415-4f22-9689-92eae4ca92d6.vsidx
.vs/Base/FileContentIndex/dd56a44d-cca9-4884-97e5-d84f4b7a8917.vsidx
obj/Debug/net8.0/Base.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Base.assets.cache
obj/Debug/net8.0/Base.AssemblyInfoInputs.cache
obj/project.nuget.cache
obj/project.assets.json
.vs/Base/FileContentIndex/68330286-f382-4caf-a2c7-6b6f5cd1fd06.vsidx
.vs/Base/v17/.suo
obj/Base.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/Base.AssemblyInfo.cs
obj/Debug/net8.0/Base.AssemblyInfoInputs.cache
obj/Debug/net8.0/Base.assets.cache
obj/Debug/net8.0/Base.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Base/v17/DocumentLayout.json
*.vsidx
/.vs/Base/FileContentIndex/4f20b850-7831-403e-8a4e-bfa431875d6d.vsidx
/.vs/Base/v17/.futdcache.v2
/.gitignore
/.vs
/obj
/bin/Debug
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/creatures.projects.v7.bin
/.vs/ProjectEvaluation/creatures.metadata.v7.bin
/BestiaryC1/Duergar.cs
/CriaturasQuePrecisamArrumarOAtaque.cs
